.quote-box{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 25px;
    border: 1px solid gray;
    border-top-left-radius: 15px;
}

.quote-form{
    display: inline-grid;
    margin-left: 5%;
}

.quote-text{
    resize: none;
}
.add-quote-btn{
    padding: 7px;
    margin-top: 10px;
}

.del-btn{
    padding: 5px;
    font-weight: bold;
    color: white;
    background: crimson;
    border: none;
}
.edit-btn{
    padding: 5px;
    margin-left: 10px;
    font-weight: bold;
    color: black;
    background: gold;
    border: none;
}